dt {
    color: rgba(0, 0, 0, 0.375);
    font-weight: 700;
    margin-top: 0.75em;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.md-typeset dd {
    margin: 0;
    padding: 1em 1em 1em 1.875em;
    background-color: rgba(0, 0, 0, 0.025);
}

.md-clipboard {
    color: rgba(0, 0, 0, 0.75);
}

.md-typeset > p {
    margin-top: 0;
}

figcaption {
    color: rgba(0, 0, 0, 0.75);
    padding-top: 0.125rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: rgba(0, 0, 0, 0.025);
}
figcaption:first-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
figcaption:last-child {
    border-top: 1px solid rgba(0,0,0,.125);
}

.fighead {
        box-sizing: border-box;
        display: block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        margin: 3.0rem 0 1.0rem 0;
        padding: 0px;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.125);
}

.fignumber {
    float: right;
    white-space: nowrap;
}

/*.md-content__icon {
    display: none;
}*/
